<!DOCTYPE HTML>
<html>
	<head>
		<title>Checkout Stuffs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->

			<header id="header">
				<a href="#" class="title">{{Heading}}</a>
						{{> link}}
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Project Details -->
					<section id="main" class="wrapper">
            <!--Inner Class to create a structure-->
						<div class="inner">
							<h1 class="major">Projects Hub</h1>
              <!--Holds all project details-->
              <div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>Current Temperature</h3>
									<p>Its a simple Web API Integration which finds the exact temperature in your location.<br/>
                    So that you can plan your snacks to Coffee or MilkShake.</p>
                  <ul class="actions">
    								<li><a href="/listenit" class="button">Calculate it</a></li>
    							</ul>
								</section>
								<section>
									<span class="icon major fa-code"></span>
									<h3>Reads for You</h3>
									<p>Reading made to be simple.Put on your earpods to listen what you want to read.</p>
                  <ul class="actions">
                    <li><a href="#result" class="button">Listen</a></li>
                  </ul>
                </section>
							</div>
            </div>
			</div>

		<!-- Footer -->
		{{> footer}}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
