<!DOCTYPE HTML>
<html>
	<head>
		<title>Happy Welcomes You</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Who am I</a></li>
							<li><a href="#two">What I do</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Happy Baskaran</h1>
							<p>Look at the sky. We are not alone.<br />
								 The whole universe is friendly to us and conspires only to give the best to those who dream and work.<br />
							</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Get more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/img01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Learner</h2>
									<p>Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.</p>
									<ul class="actions">
										<li><a href="#" class="button">Checkout more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/img02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Engineer</h2>
									<p>I'm an engineer by trade, and what engineers do is they go and build, and they don't think a lot about storytelling.</p>
									<ul class="actions">
										<li><a href="/explore" class="button">Big Bang</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/img03.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Traveler</h2>
									<p>A good traveler has no fixed plans, and is not intent on arriving.</p>
									<ul class="actions">
										<li><a href="/jollyday" class="button">Passionate more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What I do</h2>
							<p>Art of creation always pay high then the normal as excepted. Robotic Process Automation(RPA) is the key of my life making everything to be automated which serves the end User.</p>
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>Automation Anywhere</h3>
									<p>AA marks the major platform in RPA industry which is top one of the competeriors of RPA Vendors.</p>
								</section>
								<section>
									<span class="icon major fa-graduation-cap"></span>
									<h3>Improvement</h3>
									<p>Exploring and mastering all new technologies which are ruling the entire market is the core platform.<br/> Where I am continously working upon.  </p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Communication is the bridge among two or more to explore more on new things.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="field half first">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>1653 LIG II TNHB<br />
											Avadi, Chennai<br />
											Tamil Nadu, India</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">behappybas@gmail.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(+91) 861-012-0291</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://twitter.com/HappyBaskaran" class="fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="https://www.facebook.com/bas.karan.3762" class="fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="https://github.com/happybaskaran" class="fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="www.linkedin.com/in/baskaran-chidambaram-632a1a74" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
		{{> footer}}
		<!-- <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<footer id="footer" class="wrapper style1-alt" align="center">
		  <div class="inner">
		    <ul class="menu">
		      <li>&copy;Happy. All rights reserved.</li><li>Designed By:HappyTeam <i class="em em-heart"></i></li>
		    </ul>
		  </div>
		</footer> -->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
