<!DOCTYPE HTML>
<html>
	<head>
		<title>Listen it</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="#" class="title">{{Heading}}<i class="em em-headphones"></i></a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/explore" class="active">Explore</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h2 class="major">{{BHeader}}</h1>
                <p>Developer are Busy!!! <i class="em em-disappointed"></i></p>
							</div>
					</section>

			</div>

		<!-- Footer -->
		{{> footer}}
		<!-- <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<footer id="footer" class="wrapper style1-alt" align="center">
			<div class="inner">
				<ul class="menu">
					<li>&copy;Happy. All rights reserved.</li><li>Designed By:HappyTeam <i class="em em-heart"></i></li>
				</ul>
			</div>
		</footer> -->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
