<!DOCTYPE HTML>
<html>
	<head>
		<title>Listen it</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="#" class="title">{{Heading}}<i class="em em-headphones"></i></a>
				{{> link}}
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h2 class="major">{{BHeader}}</h1>
								<section>
									<form name = "listenform" method="post" action="/listenit">
										<div class="row uniform">
											<div class="6u 12u$(xsmall)">
												<input type="text" name="uname" id="uname" value="" placeholder="Name" required/>
											</div>
											<div class="12u$">
												<textarea name="text2speech" id="text2speech" placeholder="Type or Copy Paste here" rows="6" required></textarea>
											</div>
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="Listen" class="button scrolly"/></li>
													<li><input type="reset" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>
								</section>
								<div class="features" >
									<section id='#result'>
												<h4>Your Result is here!!</h4>
												<p>Enjoy listening.</p>
												<p>Your Content are {{UserContent}} {{userResult}} </p>
									</section>
								</div>
							</div>
					</section>

			</div>

		<!-- Footer -->
		{{> footer}}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
